/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  width: 100%;
  max-width: 700px;
  margin: auto;
  font-family: var(--Inter-Variable);
  font-variation-settings: 'wght' var(--font-weight-page);
  background-color: var(--bg-color);
  background-image: 
    linear-gradient(var(--gradient-from-color) 0.01%, var(--gradient-to-color) 100%),
    repeating-linear-gradient(var(--gradient-stripe-color), var(--transparent-color) 2px),
    repeating-linear-gradient(90deg, var(--gradient-stripe-color), var(--transparent-color) 2px);
  background-attachment: fixed;
  background-size: cover;
  color: var(--accent-color);
}

.header {
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  font-family: var(--PressStart2P);
  font-size: 14px;
  background-color: var(--bg-color);
  border: var(--border);
}

.title {
  margin-block-start: 120px;
  margin-block-end: 20px;
  font-size: 49px;
}

.tagline {
  font-size: 14px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin: 25px auto;
}

.theme-menu__button {
  text-transform: uppercase;
  background-color: transparent;
  border: none;
}

.card {
  background-color: var(--bg-color);
  border: var(--border);
}

.card__title {

}

.card__img {

}

.card__description {

}

.card__text {

}

.card__active {
  
}